body{
   /* Set line spacing */
   line-height: 200%;
}


header, nav{
    /* Set padding and margin */
    padding: 5px 10px 15px 20px;
    margin: 25px 30px 35px 40px;
}


nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    background-color: #FEE4C3;
}


nav a{
    /* Set text decoration*/
    text-decoration: none;
}


a:visited{
    /* Set color */
    color: black;
}


nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: underline wavy;
    text-underline-offset: 6px;
    text-transform: uppercase;
}


h1{
   /*Set font and font size*/
   font-size: 40px;
   font-family: "Merriweather", "Anton", "Times New Roman", Arial;
}


h2{
    /*Set font, font size, and alignment*/
   font-size: 30px;
   font-family: "Anton", "Times New Roman", Arial;
   text-align: center;
}


h3{
    /*Set font size*/
    font-size: 25px;
}


h1, h2, h3{
    /*Set margin */
    margin-top: 20px;
}


.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-column-gap: 35px;
    grid-row-gap: 10px;
    background-color: #788897;
}


.grid div{
    /* Set border properties, padding, and background color */
    padding: 20px;
    border: solid black 2px;
    border-radius: 20px;
    background-color: #F5F5F5;
}


.grid img{
    /* Set width, margin, and display */
    width: 90%;
    margin: auto;
    display: block;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 8px 0 5px -2px #aaaaaa;
}


.grid div:nth-child(3n)  {
    /* Set box shadow */
    box-shadow: -8px 0px 5px -2px #aaaaaa;  
}


.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow: 8px 0 5px -2px #aaaaaa, -8px 0 5px -2px #aaaaaa;   
}
    

p + p {
     /* Set indentation */
     text-indent: 5%;
  }
  
p{
     /* Set margin */
     margin-top: 10px;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    line-height: 100%;
    list-style: url(../images/sketchbook.png);
    margin-left: 20px;
    margin-bottom: 20px;
}



